<!-- templates/dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Incidents Dashboard</title>
</head>
<body>

<header>
    <h1>Fire Incidents Dashboard</h1>
</header>

<div class="container">
    <h2>Choose a View:</h2>
    <ul>
        <li><a href="{{ url_for('fullscreen') }}" target="_blank">Fullscreen Map</a></li>
        <li><a href="{{ url_for('iframe') }}" target="_blank">Map as Iframe</a></li>
        <li><a href="{{ url_for('components') }}" target="_blank">Map Components</a></li>
    </ul>
</div>

</body>
</html>
